<nav>
    <div class="menuItems">
        <a routerLink=""><img class="logo" src="/assets/Images/SH_LOGO.svg" alt="logo"></a>
        <div class="textDeco">
            <a *ngIf="logged" routerLink="illustration">ILLUSTRATION</a>
            <a *ngIf="!logged" routerLink="user">SIGN UP</a>
            <a *ngIf="!logged" routerLink="login">LOG IN</a>
            <a *ngIf="logged" routerLink="myaccount">MY ACCOUNT</a>
            <a *ngIf="logged">MY CART</a>
            <a class="logout" href="#" *ngIf="logged" (click)="logOut()">LOG OUT</a>
        </div>
    </div>
</nav>

