.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: black;
    padding-top: 1em;
    padding-left: 2em;
    padding-bottom: 3em;
}

h5, p{
    color: #F0F0F0;
}

.name{
    font-size: 1.5em;
}

.link a,
.link,
.link a:visited,
.link a:hover{
    text-decoration: none;
    font-family: 'Libre Franklin', sans-serif;
    color: #F0F0F0;
}