<h1 class="title">LOG IN</h1>
<h3 class="intro">Already have an account? <br> Log in filling the gaps.</h3>

<div class="form">
    
        <img src="" alt="" class="showimage">
        <img src="" alt="" class="showimage" *ngIf="lo.password != undefined">

        <h4>Email</h4>
        <input type="text" [(ngModel)]="lo.email">
    
        <h4>Password</h4>
        <input type="password" [(ngModel)]="lo.password">
    
    </div>
    <p *ngIf="notLogged">You are not logged</p>
    <button class="bluebutton" (click)="checkUser()" *ngIf="lo.email !='' && lo.password != ''">LOG IN</button>