<div class="container">
<h1 class="title">SHIIFT AUTOMOTIVE</h1>
<h3 class="intro">Welcome to Shiift Automotive, an illustration brand which brings the best of the automotive world just for you.</h3>
<img class="bluesticker parallax" src="/assets/Images/Turbo_Sticker_A.png" alt="turboSticker">
<img class="redsticker" src="/assets/Images/Suspension_Sticker_A.png" alt="suspensionSticker">
<img class="orangesticker" src="/assets/Images/Piston_Sticker_A.png" alt="piston">
<img class="engine" src="/assets/Images/Engine_Block.png" alt="engine">
</div>

<div class="centerImage">
    <img class="nissan350z" src="/assets/Images/350Z_JGTC.png" alt="350z">
</div>

