@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,300;0,400;1,400&display=swap');

.menuItems{
    font-family: 'Libre Franklin', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 3em;
    margin: 2em;
}