@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,300;0,400;1,400&display=swap');


@font-face {
    font-family: "Akira";
    src: local("Akira"), url(src/assets/Fonts/Akira_Expanded_Demo.otf) format("opentype");
}

h1{
    font-family: 'Akira';
}

.imagedisplayer{
    width: 30%;
    margin: 5% 10% 5% 10%;
    flex-wrap: wrap;
}



.showimage{
    z-index: 9;
}

.form{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    margin-bottom: 4em;
    /* justify-content: center; */
    text-align: center;
}

.intro{
    font-size: 1em;
    text-align: center;
    justify-content: center;
}
