


.form{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    margin-bottom: 4em;
    /* justify-content: center; */
    text-align: center;
}

.intro{
    font-size: 1em;
    text-align: center;
    justify-content: center;
}


.bluebutton{
    background-color: #006af6;
    color: white;
    font-family: 'Akira';
    border: none;
    height: 5em;
    width: 100%;
    margin-top: 5%;
}

.bluebutton:hover{
    background-color: #0f5ec5;
    cursor: pointer;
}