/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,300;0,400;1,400&display=swap');


@font-face {
    font-family: "Akira";
    src: local("Akira"), url(src/assets/Fonts/Akira_Expanded_Demo.otf) format("opentype");
}

/* html{
    scroll-behavior: smooth;
} */

body{
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    height:100%;
    width: 100%;
}

img {
    max-width: 100%;
}

h1{
    font-family: 'Akira';
}

 h4, h5, h6{
    font-family: 'Akira';
}

h3, p{
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 400;
}

.title{
    text-align: center;
    justify-content: center;
    align-content: center;
    font-size: 5vw;
    max-width: 70%;
    margin: auto;
    word-wrap: break-word;
    /* margin-left: 5%;
    margin-right: 5%; */
}

.intro{
    font-size: 1.2vw;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

.container{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-right: 10%;
    margin-left: 10%;
}

input{
    background-color: white;
    border: none;
    height: 10vh;
    font-size: 2em;
    font-family: 'Libre Franklin', sans-serif;
}

.redbutton{
    background-color: #ff3553;
    color: white;
    font-family: 'Akira';
    border: none;
    height: 2em;
    width: 30%;
    margin-top: 5%;
}



.bigredbutton{
    background-color: #ff3553;
    color: white;
    font-family: 'Akira';
    border: none;
    height: 5em;
    width: 100%;
    margin-top: 5%;
}

.bigredbutton:hover{
    cursor: pointer;
    background-color: #c5263e;
}

.redbutton:hover{
    background-color: #c5263e;
    cursor: pointer;
}

.bluebutton{
    background-color: #006af6;
    color: white;
    font-family: 'Akira';
    border: none;
    height: 5em;
    width: 100%;
}

.bluebutton:hover{
    background-color: #0f5ec5;
    cursor: pointer;
}

.marginbot{
    margin-bottom: 10%;
}

@media (max-width: 1024px){
    h1{
        font-size: 3em;
        word-wrap: none;
    }

    .centerImage{
        margin-bottom: 50%;
    }
}

@media (max-width: 767px){
    h1{
        max-width: 80%;
        font-size: 2em;
    }

    .secondTitle{
        text-align: center;
    justify-content: center;
    align-content: center;
    font-size: 5vw;
    max-width: 70%;
    margin: auto;
    word-wrap: break-word;
    }

    .opacity{
        -webkit-text-stroke: 1px !important;
    }

    .menuItems{
        flex-direction: column !important;
        text-align: center;
        max-width: 90%;
        font-size: 70%;
    }

    
    input{
        height: 5vh;
        font-size: 1em ;
    }

    .redbutton{
        width: auto !important;
    }

    .marginbot{
        margin-bottom: 60%;
    }

    .info{
        font-size: 1em;
    }
}